<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <%- include('_svg') -%>
  <svg class="svg-1"><use xlink:href="#svg-rect"></use></svg>
  <svg class="svg-2"><use xlink:href="#svg-circle"></use></svg>
  <svg class="svg-3"><use xlink:href="#svg-star"></use></svg>
</body>
</html>
